nav{
    display: flex;
    align-items: center;
    padding: 30px 25px;
    background-color: var(--navBg);
}

.nav--logo_text,
.nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    font-weight: 600;
    font-size: 16px;
}

.nav--logo {
    height: 30px;
    margin-right: 7px;
}
