body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #282d35;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
