.title {
    margin: 0;
    padding: 56px 26px;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -0.05em;
}

.content {
    margin: 0;
    background-image: url("../Images/reactjs-iconlarge.png");
    background-repeat: no-repeat;
    background-position: right 47.5%;
    width: 75%;
}

.facts_list {
    margin-top: -10px;
    margin-left: 26px;
    max-width: 400px;
}

.facts_list > li {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    padding-block: 10px;
}

.facts_list > li::marker {
    color: #61dafb;
    font-size: 1.4rem;
}
